h2{
    margin-top: 5px;
    margin-bottom: 2px;
}
.product-card{
    border-radius: 8px;
    background-color: var(--bg-color);
    padding-left: 5px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.available{
    background-color: green;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 2px;
}

.borrowed{
    background-color: red;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 2px;

}
@media (max-width: 600px) {
  .product-card {
   margin-left: 4px;
  }
}

