.delete-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-form{
    display: flex;
    flex-direction: column;
}

[class^="product-"]{
    display: flex;
    flex-direction: column;
}