.auth-form-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-group{
    display: flex;
    flex-direction: column;
}

.auth-form{
        display: flex;
    flex-direction: column;
    align-items: center; 
}