.carousel-container{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image-wrapper {
    width: 100%;
    min-height: 256px; 
    max-height: 760px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    overflow: hidden; 
}

@media (min-width: 640px) { 
    .carousel-image-wrapper {
        min-height: 320px;
    }
}
@media (min-width: 768px) { 
    .carousel-image-wrapper {
        min-height: 384px; 
    }
}

.carousel-image {
    width: 100%; 
    height: auto;
    object-fit: contain; 
    display: block; 
}

.nav-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding: 0 4px;
    width: 100%; 
    box-sizing: border-box; 
}

.carousel-nav-button{
    background-color: var(--background-color-body);
    color: var(--primary-text-color);
}

.arrow-icon,
.circle-icon {
    height: 16px;
    width: 16px; 
    vertical-align: middle; 
}

.carousel-dot {
    position: relative;
    background-color: var(--background-color-body);
    color: var(--main-text-color);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    flex-shrink: 0;
}

.carousel-dot.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1000EF;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.carousel-dot:not(.active)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #3A349B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.carousel-dot:not(.active):hover::after {
    transform: scaleX(1);
}

.carousel-dot:focus,
.carousel-dot:active {
    outline: none;
    border: none; 
}


@media (min-width: 640px) {
    .nav-button-container {
        padding: 0 8px; 
        gap: 4px; 
    }
    .carousel-nav-button {
        padding: 12px; 
    }
    .arrow-icon,
    .circle-icon {
        height: 24px; 
        width: 24px;
    }
}

@media (min-width: 768px) {
    .nav-button-container {
        padding: 0 16px; 
        gap: 8px; 
    }
    .carousel-nav-button {
        padding: 16px; /
    }
    .arrow-icon,
    .circle-icon {
        height: 32px; 
        width: 32px;
    }
}